@model GMUAdmissionProject.DAL.Applicant

@{
    ViewBag.Title = "Details";
}

<div class="container">

    <h2>Details</h2>

    <div>
        <h4>Applicant</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MiddleName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MiddleName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ssn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ssn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.street)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.street)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.city)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.city)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.state)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.state)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.zipcode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.zipcode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dob)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dob)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.hsName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.hsName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.hsCity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.hsCity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gradDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gradDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gpa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gpa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.satMath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.satMath)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.satVerbal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.satVerbal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.majors)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.majors)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.enrollSemester)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.enrollSemester)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.enrollYear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.enrollYear)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AdminDecision)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdminDecision)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.submissionDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.submissionDate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>